# My Jupyter Notebook on IBM Watson Sudio

#### Debdatta Sarkar

---

100% Human

*I am interested in Data Science because I love to gain insights from data*

## Reading from Excel via Pandas & Dataframes

In [4]:
import numpy as np
import pandas as pd

In [5]:
! pip3 install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.7-py2.py3-none-any.whl (243 kB)
     |████████████████████████████████| 243 kB 25.7 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.7

In [6]:
df_can = pd.read_excel(
    'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork/Data%20Files/Canada.xlsx',
    sheet_name='Canada by Citizenship',
    skiprows=range(20),
    skipfooter=2)
df_can.head()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2012,2013,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2635,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,620,603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3774,4331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Python is very intereating.... Keep on learning!!!! :)

### Horizontal rule

***

##### Bulleted list

* One
* Two 
* Three

##### Numbered List

1. First ordered list item
2. Another item

##### Tables

| Need to Learn        | Comment           | Marks  |
| :------------- |:-------------| :-----:|
| *Data Science*     | Lorem ipsum dolor sit amet, consectetur adipiscing elit. | 100% |
| `Amazon Tensor`    | Nulla vel tortor sit amet risus cursus dapibus ut ac eros.      |   95% |
| **Amazon Sagemaker** | In porttitor purus id sagittis consectetur.   |    85% |

##### Hyperlinks

[www.ibm.com](https://www.ibm.com)

##### images

Coursera Logo: 
![Coursera Logo]("Logo Title Text 1")

##### Code/Syntax Highlighting

```python
s = "Python syntax highlighting"
print s
```

##### Blockquotes

> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus elementum mattis leo. Aenean sed odio mi. Quisque et ipsum blandit, sodales nunc eu, tincidunt lectus. Aliquam commodo lacus eu nunc auctor, sed euismod dui semper. Duis ultricies finibus diam ac posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

##### Strikethrough

~~sagittis consectetur massa.~~